/* ----------Overall Section---------- */
* {
    font-family: "Azeret Mono";
}

/* ----------Nav Section---------- */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 150px;
}

.nav-title {
    margin-left: 150px;
    font-size: 28px;
    font-weight: 800;
}

.resume-btn {
    margin-top: 38px;
    margin-right: 15px;
    color: rgba(13, 19, 33, 1);
    padding: 17px 24px 17px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
}

/* ----------Hero Section---------- */

.hero {
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 75px;

}

.hero-content-container {
    padding: 26px 240px 45px 240px;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
}

.hero-description {
    margin-top: 24px;
    padding: 0 75px 0 75px;
    padding: 0 73;
    font-size: 16px;
    font-weight: 400;


}

.btn-contact {
    margin: 32px;
    background-color: #0D1321;
    color: #FFFFFF;
    padding: 21px 24px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}

/* ----------Main Section---------- */
main {
    width: 1140px;
    margin: 0 auto;
}

.content-head {
    text-align: center;
    padding: 20px 47px 48px 47px;
}

.content-description {
    margin-left: 144px;
    margin-right: 144px;
}

#content-container {
    background-color: #fafafb;
    display: flex;
    justify-content: center;
    padding: 80px 97px 80px 97px
}

#inspiration {
    margin-top: 90px;
    text-align: center;
}


.instructor {
    margin: 0 144px 45px 144px;

}

.tube {
    border: 1px solid grey;
    border-radius: 16px;
    padding: 32px;
}


#target {
    margin-top: 90px;

}

.skills-name {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.skill-name {
    padding: 40px;
}

.bg-1 {
    background-color: rgba(255, 76, 30, 0.05);

}

.bg-2 {
    background-color: rgba(0, 76, 232, 0.05);
}

.bg-3 {
    background-color: rgba(255, 223, 0, 0.05);
}

.target-content {
    display: flex;
    justify-content: center;

}

.section-title {

    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}

.section-description {
    text-align: center;
    margin-bottom: 48px;

}

.div-content {
    padding: 40px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

.div-content2 {
    text-align: center;
    border: 1px solid #22293a;
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 20px;
    display: flex;
    gap: 160px;
}

.div-text {
    width: 60%;
    text-align: start;
}

.div-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.div-description {
    margin-bottom: 32px;
}

.learn-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
}

.skill-title {
    font-size: 24;
    font-weight: 800;
}

.skills-name a,
.div-content a,
.div-content2 a {
    color: black;
    margin-top: 40px;
    margin-bottom: 111px;

}

#next-target {
    justify-content: center;
    margin-bottom: 50px;
}

/* ----------Footer Section---------- */

#body-footer {
    border-radius: 16px;
    background-image: url(../assets/handshake.jpg);
    opacity: 90%;
    mix-blend-mode: darken top;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    padding: 64px 48px;
    color: #FFFFFF;
    text-align: center;
    margin: 24px;
}

#footer-container {
    background-color: #fafafb;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;


}

#footer-container ul {
    display: flex;
    justify-content: space-evenly;
}

#footer-container ul li {
    list-style: none;

}